---
const { title } = Astro.props;
import { Image } from "astro:assets";
import { Button } from "$lib/components/ui/button";
import logo from "$lib/images/gc-logo.png";
---

<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <title>{title}</title>
  </head>
  <body class="dark h-full relative">
    <nav
      class="border-b border-muted flex justify-between absolute top-0 z-50 px-8 py-4 left-0 w-full"
    >
      <div class="flex items-center gap-8">
        <Image src={logo} alt="logo" class="aspect-square w-8" />
        <div class="flex gap-4">
          <a href="/" class="hover:text-accent">Home</a>
        </div>
      </div>
      <div class="flex gap-2">
        <Button disabled>
          <span class="mr-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width='
            1.8em"'
              height="1.8em"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-download"
              ><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"
              ></path><polyline points="7 10 12 15 17 10"></polyline><line
                x1="12"
                x2="12"
                y1="15"
                y2="3"></line></svg
            >
          </span>
          Download
        </Button>
      </div>
    </nav>
    <slot />
  </body>
</html>
